.titulo-importante {
  font-size: 50px;
  color: white;
}
.titulo-secundario {
  width: 100% !important;
}
.caja-pago {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 35vh;
  border-radius: 30px;
  padding: 30px;
}
.seccion {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seccion-pago {
  margin-top: 30px;
  margin-bottom: 30px;
}
.boton-pago {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: 0.3s;
}
.boton-pago:hover {
  cursor: pointer;
  transform: scale(1.04) !important;
  background-color: #f9f9f9;
  border-radius: 25px;
  transition: 0.3s;
}
.boton-pago img {
  width: 50%;
}
.form-pago {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  /* border-style: solid; */
  border-width: 0.1rem;
  /* border-color: #93c83e; */
  padding: 3vw;
}
.form-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.form-layout input {
  text-align: center;
  margin-top: 40px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  background-color: #f3f3f3;
  height: 30px;
  border-radius: 5px;
}
.form-layout .precio {
  width: 100%;
  margin-top: 40px;
  display: flex;
  /* align-items: center; */
  /* text-align: center; */
  /* justify-content: center; */
}
.form-layout .precio h4 {
  width: 0%;
}
.form-layout .precio h2 {
  text-align: center;
  width: 100%;
}
@media (max-width: 767px) {
  .form-layout .precio h4 {
    width: fit-content;
  }
}
